version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: kyndra-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: kyndra
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: